<%= simple_form_for [@organization, @service], :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    <%= f.input :title, :input_html => { :class => 'span7' } %>
    <%= f.input :description, :input_html => { :class => 'span7', :rows => 7 } %>
    <%= f.input :restrictions, :input_html => { :class => 'span7', :rows => 7 } %>
    <%= f.input :internal_notes, :input_html => { :class => 'span7', :rows => 7 } %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit,  :class => "btn btn-primary" %>
    or <%= link_to "Cancel", organization_services_path(organization) %>
  </div>
<% end %>
