<%= semantic_form_for(@organization) do |f| %>

    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
      <%= f.input :phone %>

      <% #FIXME: PREPEND TWITTER @ %>
      <%= f.input :twitter %>
      <%= f.input :description, :input_html => {:rows => 10, :class => 'xxlarge'} %>
    <% end %>

    <%= f.buttons do %>
      <%= f.commit_button %>
      <span>or</span>
      <%= link_to 'Cancel', "javascript: history.back()" %>
    <% end %>
<% end %>
