<%= form_for(@organization) do |f| %>
  <fieldset>
    <% if @organization.errors.any? %>
      <div class="alert-message error" id="error_explanation">
        <a class="close" href="#">x</a>
        <span>
          <%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:
        </span>

        <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :address %>
      <div class="input">
        <%= f.text_field :address %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :city %>
      <div class="input">
        <%= f.text_field :city %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :state %>
      <div class="input">
        <%= f.text_field :state %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :zip %>
      <div class="input">
        <%= f.text_field :zip %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
      <span class="span1">&nbsp;</span>
      <%= link_to 'Back', "javascript: history.back()" %>
    </div>
  </fieldset>
<% end %>
