<div id="page">

  <div id="search_bar">
    <div id="form_holder">
      <%= form_tag(search_organizations_path(:format => :json), :method => :get, :remote => true) do |f| %>
        <table class="search-table">
          <tr>
            <td>
              <label for="search_services">Search Services</label>
            </td>
            <td>
              <input id="search_services" type="text" name="q" />
            </td>
            <td>
              <button class="btn primary" type="submit" value="search" >Search</button>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>

  <div id="main_map">
    <div id="panel" data-autoheight="true">
      <ul class="orgs">
        <% @organizations.each do |org| %>
          <li>
            <div class="title">
              <%= link_to org, org %>
            </div>
            <div class="body">
              <%= org.address %><br/>
              <%= org.city %>, <%= org.state %> <%= org.zip %>
            </div>
            <div class="tags">
              <ul>
                <% org.tags.each do |tag| %>
                  <li class="label notice"><%= tag %></li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>

    </div>

    <div id="map" data-autoheight="true">
      <div id="map_canvas" data-lng="-77.036133" data-lat="38.876067" data-method="map">
      </div>
    </div>
  </div>
</div>

<script type="text/mustache">
  <li>
    <div class="title">
    <a href="{{url}}">{{name}}</a>
    </div>
    <div class="body">
      {{address}}<br/>
      {{city}}, {{state}}, {{zip}}
    </div>
    <div class="tags">
      <ul>
        {{#tags}}
          <li class="label notice">{{title}}</li>
        {{/tags}}
      </ul>
    </div>
  </li>
</script>
