<div class="pagehead">

  <div>
    <h1><%= @organization.name %></h1>
  </div>

  <div class="">
    <%= link_to 'Edit', edit_organization_path(@organization) %> |
    <%= link_to 'Back', organizations_path %>
  </div>

  <ul id="org-tabs">
    <li><%= tab_link "Info", organization_path(@organization) %></li>
    <li><%= tab_link "Services", "#services" %></li>
    <li><%= tab_link "Research", "#research" %></li>
    <li><%= tab_link "Volunteer", "#volunteer" %></li>
    <li><%= tab_link "Comment", "#comment" %></li>
  </ul>
</div>

<div id="org-info" class="clearfix">

  <div id="org-data" class="span6">
    <p>
      <%= markdown @organization.description %>
    </p>

  </div>

  <% if @organization.latitude && @organization.longitude %>
    <div class="span8" id="show-org-map-holder">
      <div data-lat="<%= @organization.latitude %>" 
        data-lng="<%= @organization.longitude %>" 
        id="map_canvas" class="organization-map"></div>
    </div>
  <% end %>
  <div class="span8">
    <p>
      <strong>Address:</strong><br />
      <%= @organization.address %> <br />
      <%= @organization.city %>
      <%= @organization.state %>
      <%= @organization.zip %><br />

      <% if @organization.phone? %>
        P: <%= number_to_phone(@organization.phone, :area_code => true) %>
      <% end %>
    </p>
  </div>


</div>
