
<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>City:</b>
  <%= @organization.city %>
</p>

<p>
  <b>State:</b>
  <%= @organization.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @organization.zip %>
</p>

<% if @organization.latitude && @organization.longitude %>
  <div id="show-org-map-holder">
    <div data-lat="<%= @organization.latitude %>" 
      data-lng="<%= @organization.longitude %>" 
      id="map_canvas" class="organization-map"></div>
  </div>
<% end %>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
