<%= render "show_head" %>

<div id="org-info" class="clearfix">

  <div id="org-data" class="span5 well">
    <strong>Description: </strong><br/>
      <%= markdown @organization.description %>
  </div>

  <% if @organization.latitude && @organization.longitude %>
    <div class="span6" id="show-org-map-holder">
      <div data-lat="<%= @organization.latitude %>" 
        data-lng="<%= @organization.longitude %>" 
        id="map_canvas" class="organization-map"></div>
    </div>
  <% end %>
  <div class="span5 well">
    <strong>Address:</strong><br />
    <%= @organization.address %> <br />
    <%= @organization.city %>
    <%= @organization.state %>
    <%= @organization.zip %><br />

    <% if @organization.phone? %>
      P: <%= number_to_phone(@organization.phone, :area_code => true) %>
    <% end %>
  </div>


</div>
