<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= link_to "The BRIDGE Project", root_path, :class => "brand" %>
      <ul class="nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "Organizations", map_organizations_path %> </li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <% if current_user.present? and current_user.admin? %>
          <li><%= link_to "Manage Orgs", "#" %>
        <% end %>
      </ul>

      <% if current_user.present? %>
        <div class="pull-right">
          <ul class="nav">
            <li>
              <%= link_to "Logged in as <strong>#{current_user.email}</strong>".html_safe, edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= form_for(User.new, :url => new_user_session_path, :html => {:class => "pull-right"} ) do |f| %>
          <%= f.text_field :email, :class => "input-small", :placeholder => "Username" %>
          <%= f.password_field :password, :class => "input-small", :placeholder => "Password" %>
          <button class="btn" type="submit">Sign in</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

